<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>Bienvenido a RegistrAPP</ion-label>
    <br><br><br><br><br>
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
    <br><br>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
    <br><br>
    <a href="" target="alumno">Olvidé mi Contraseña</a>
    <br><br>
    <ion-button (click)="login()">Iniciar Sesión</ion-button>
  </div>
</ion-content>
